
    @{
    Chart grafico = new Chart(300, 300);
    grafico.AddSeries("column", xValue: new[] { "lunes", "martes", "miercoles", "jueves", "viernes", "sabados", "domigo" }, yValues: new[] { 50, 45, 45, 78, 100, 150, 40 }).Write();
      
    


}

<h2>grafico</h2>
